h1 {
    color:#123456;
    margin-left:50px;
   
}

* {
    border: solid;
}
.header{background-color: rgb(107, 196, 251);
display:flex;justify-content:space-between ;
margin-left:30px
}
.site-description{
    display:flex;
    flex-direction: column;
    justify-content: first baseline;

}
.grid{display:flex;
flex-wrap:wrap ;
justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content: flex-end;

}
p,h2{
    text-align: center;
}
a:link{
    color:#07b5fa
}
a:visited{
   color: #123456
}
.menu{
   margin-right:30px;
}
.menu a{
    margin-left:30px;
}
.item{
    position:relative;
}
.item p{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0
}
.item:hover p{
    opacity:1;
}
.item:hover img{
opacity:0.33
}